<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Aman ki duniya</title>
</head>
<body>

    <div class="container">
        <br>
        <header>Employe Managment</header>
        <br>
        

        <hr>

        <a class="btn btn-primary" href="all_emp" role="button">view all employe</a>
        <a class="btn btn-primary" href="add_emp" role="button">add</a>
        <a class="btn btn-primary" href="remove_emp" role="button">remove</a>
        <a class="btn btn-primary" href="filter_emp" role="button">filter</a>
        <a class="btn btn-primary" href="ml" role="button">ML</a>

    </div>
    

    {% comment %} <div class="container">
        <!-- Content here -->
      </div> {% endcomment %}
</body>
</html>
